util/src/main/resources/util/Fault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:util"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="urn:util"
            elementFormDefault="qualified">

  <xsd:element name="Fault" type="tns:Fault"/>
  <xsd:complexType name="Fault">
    <xsd:sequence>
      <xsd:element name="Description" type="xsd:string" minOccurs="1"/>
      <xsd:element name="Cause" type="xsd:string" minOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="code" type="xsd:string" use="required"/>
  </xsd:complexType>

</xsd:schema>
