src/main/resources/SomeEntity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:some.model" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="urn:some.model" elementFormDefault="qualified"
            attributeFormDefault="unqualified">

  <xsd:element name="SomeDomainEntity" type="tns:SomeDomainEntity"/>
  <xsd:complexType name="SomeDomainEntity">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" minOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
  </xsd:complexType>

</xsd:schema>
