service/src/main/resources/SomeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SomeService"
                  targetNamespace="urn:service"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="urn:service"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:m="urn:model"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:u="urn:util">

  <wsdl:types>
    <xsd:schema xmlns="urn:service" targetNamespace="urn:service">
      <xsd:import namespace="urn:model" schemaLocation="SomeMsg.xsd"/>
      <xsd:import namespace="urn:util" schemaLocation="Fault.xsd"/>
      <xsd:element name="TestMe">
        <xsd:complexType>
          <xsd:attribute name="id" type="xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="SomeRQ">
    <wsdl:part name="body" element="m:SomeRQ"/>
  </wsdl:message>

  <wsdl:message name="SomeRS">
    <wsdl:part name="body" element="m:SomeRS"/>
  </wsdl:message>

  <wsdl:message name="SomeException">
    <wsdl:part name="SomeException" element="u:Fault"/>
  </wsdl:message>

  <wsdl:portType name="SomePort">
    <wsdl:operation name="invoke">
      <wsdl:input name="in" message="tns:SomeRQ"/>
      <wsdl:output name="out" message="tns:SomeRS"/>
      <wsdl:fault name="SomeException" message="tns:SomeException"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="SomeBinding" type="tns:SomePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="invoke">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="in">
        <soap:body use="literal" parts="body"/>
      </wsdl:input>
      <wsdl:output name="out">
        <soap:body use="literal" parts="body"/>
      </wsdl:output>
      <wsdl:fault name="SomeException">
        <soap:fault name="SomeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="SomeService">
    <wsdl:port name="SomePort" binding="tns:SomeBinding">
      <soap:address location="http://localhost:8080/Some"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
